body{
	background-color: red;
}
* {
	padding: 0px;
	margin: 0px;
}

.wrapper {
	width: 700px;
	margin: 0px auto;
}

.header, .content, .side-bar, .quote-feed {
	border: 1px solid black;
}

.quote-feed, .side-bar, h1{
	display: inline-block;
}
